.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {

}

.main {
  padding: 10px;
  flex-grow: 1;
  display:flex;
  flex-direction: row;
}

.editor {
  order: 1;
  flex-grow: 1;
}

.matrix {
  order: 2;
}
